
.nav {
  background-color: transparent;
  padding: 1rem;
}
.navList {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.navLink {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
@media (min-width: 768px) {
  .nav button {
    display: none; /* Esconde o botão em telas maiores */
  }
  .navList {
    display: flex; /* Mostra a lista horizontalmente */
  }
}
.navList.open {
  display: flex; /* Mostra a lista quando aberta */
  flex-direction: column; /* Empilha os itens */
}